.option {
display: flex; 
width: 30%;
/* border: 1px solid black; */
justify-content: space-evenly;
align-items: center;
font-size: 30px;
}
.option li{
    list-style: none;
}
 .nav{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    border-bottom: 1px solid black;
 }
.icondiv{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.icondiv img{
    width: 5%;
    height: 25%;
    
}


.logodiv img{
   
    width: 45%;
    margin: auto;
}
.logodiv{
    display: flex;
    align-items: center;
}